.bold{ 
	font-weight: bold; 
}

.explain{
	font-size: 80%; 
	font-style:italic;
	margin: 0;
}

#bac_form .note{
	margin-bottom:0; 
	margin-top:5px;
	line-height: 1.3; 
	font-size: 83%;
	font-style: italic; 
}


/* Color Classes */
.turquoise{color: #1ABC9C;}
.emerald{color: #2ECC71;}
.peter_river{color: #3498DB;}
.amethyst{color: #9B59B6;}
.asphalt{color: #34495E;}
.sun_flower{color: #F1C40F;}
.carrot{color: #E67E22;}
.alizarin{color: #E74C3C;}
.clouds{color: #ECF0F1;}
.concrete{color: #95A5A6;}

/*Placeholder text styles*/
#bac_form ::-webkit-input-placeholder {
   color: #D6D5D5;
   font-style: italic; 
}

#bac_form :-moz-placeholder { /* Firefox 18- */
   color: #D6D5D5;
   font-style: italic; 
}

#bac_form ::-moz-placeholder {  /* Firefox 19+ */
   color: #D6D5D5;
   font-style: italic;  
}

#bac_form :-ms-input-placeholder {  
	color: #D6D5D5;
	font-style: italic;  
}

/*Social Icons*/
#social{ 
	margin-top: -5px; 
}

#social a { 
	display: inline-block;
	margin: 0 0 32px 15px;
	width: 8px;
	font-size: 15px;
}

#social a:first-child{ 
	margin-left: 0; 
}

/*Radio*/
#bac_form .radio{ 
	padding-top: 0; 
}