<html lang="en" ng-app="BacApp">
    <head>
        <meta name="viewport" content="initial-scale=1" />
        <link rel="stylesheet" href="/assets/styles/main.css">
    </head>
    <body layout="column" ng-controller="AppController as vm">

        <div layout="row" flex>
            <div layout="column" flex id="main">
                <md-content layout="column" flex class="md-padding">
                <form ng-submit="update_bac()" ng-controller="AppCtrl" ng-cloak>
                    
                    <div layout="column" layout-align="space-around center">
                        <div class="bac {{data.bac_color}}" id='bac-value'>{{data.bac}}</div>
                        <md-button md-no-ink class="md-primary" ng-click="learnMore($event)">Learn More</md-button>
                    </div>



                  <md-list>
                        <md-list-item class="md-3-line md-long-text bac-input">
                            <div class="md-avatar mdi gender default"></div>
                            <div class="md-list-item-text">

                               <md-input-container class="md-block"  flex-gt-sm>
                                    <label>Gender</label>
                                    <md-select ng-model="data.gender" ng-change="updateGender()">
                                      <md-option ng-repeat="gender in gender_options" value="{{gender.slug}}">
                                        {{gender.text}}
                                      </md-option>
                                    </md-select>
                              </md-input-container>
                            </div>
                        </md-list-item>

                        <md-divider></md-divider>

                        <md-list-item class="md-3-line md-long-text bac-input">
                            <div class="md-avatar mdi weight scale default"></div>
                            <div class="md-list-item-text">
                                <label>Weight: {{data.weight}} lbs.</label>
                                <md-slider flex ng-model="data.weight" ng-change="updateWeight()" min="50" max="300" aria-label="weight" id="weight-slider" class="md-accent">
                            </div>
                        </md-list-item>

                         <md-divider></md-divider>

                        <md-list-item class="md-3-line md-long-text bac-input">
                            <div class="md-avatar mdi drinks beer default"></div>
                            <div class="md-list-item-text">
                                <label>Standard Drinks: {{data.std_drinks}} drinks</label>
                                <md-slider flex ng-model="data.std_drinks" ng-change="updateDrinks()" min="0" max="20" aria-label="standard drinks" id="drinks-slider" class="md-accent">
                            </div>
                        </md-list-item>
                         <md-divider></md-divider>

                        <md-list-item class="md-3-line md-long-text bac-input">
                            <div class="md-avatar mdi duration default"></div>
                            <div class="md-list-item-text">
                                <label>Drinking Duration: {{data.duration}} hours</label>
                                <md-slider flex ng-model="data.duration" ng-change="updateDuration()" min="0" max="12" aria-label="duration of drinks" id="duration-slider" class="md-accent">
                            </div>
                        </md-list-item>
                         <md-divider></md-divider>


                        <md-list-item class="md-3-line md-long-text bac-input">
                            <div class="md-avatar mdi food default"></div>
                            <div class="md-list-item-text">

                               <md-input-container class="md-block" flex-gt-sm>
                                    <label>Food Influence</label>
                                    <md-select ng-model="data.food" ng-change="updateFood()">
                                      <md-option ng-repeat="food in food_options" value="{{food.slug}}">
                                        {{food.text}}
                                      </md-option>
                                    </md-select>
                              </md-input-container>
                            </div>
                        </md-list-item>
                    </md-list>




                </form>
                </md-content>
            </div>
        </div>
        <script src="/assets/scripts/main.js"></script>
    </body>
</html>