<!doctype html>
<html lang="en" ng-app="BacApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="initial-scale=1" />
        <title>Simple B.A.C Calculator</title>
        <meta name="description" content="Welcome to the Simple BAC calculator. This minimalist application computes your peak blood alcohol concentration (EBAC) by considering the number of standard drinks, weight, gender, and food intake. ">
        <link rel="stylesheet" href="/assets/styles/main.css">

        <meta name="author" content="Josh Rogan">
        
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="This minimalist application computes your peak blood alcohol concentration (EBAC) by considering the number of standard drinks, weight, gender, and food intake.">
        <meta name="twitter:site" content="@JoshuaRogan">
        <meta name="twitter:title" content="Simple B.A.C Calculator">
        <meta name="twitter:description" content="Welcome to the Simple BAC calculator. This minimalist application computes your peak blood alcohol concentration (EBAC) by considering the number of standard drinks, weight, gender, and food intake.">
        <meta name="twitter:creator" content="@JoshuaRogan">
        <meta name="twitter:image" content="https://simplebac.com/apple-touch-icon-180x180.png">

        <!-- Open Graph data -->
        <meta property="og:title" content="Simple B.A.C Calculator" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://simplebac.com/" />
        <meta property="og:image" content="https://simplebac.com/apple-touch-icon-180x180.png" />
        <meta property="og:description" content="Welcome to the Simple BAC calculator. This minimalist application computes your peak blood alcohol concentration (EBAC) by considering the number of standard drinks, weight, gender, and food intake. " /> 
        <meta property="og:site_name" content="Simple B.A.C Calculator" />


        <!-- Icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#607d8b">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#607d8b">
        <!-- Finish Icons -->

        <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
        </style>

    </head>
    <body layout="column" ng-controller="AppController as vm">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div layout="row" flex>
            <div layout="column" flex id="main">
                <md-content layout="column" flex class="md-padding">
                <form ng-submit="update_bac()" ng-controller="AppCtrl" ng-cloak>
                    
                    <div ngCloak layout="column" layout-align="space-around center">
                        <div class="bac {{data.bac_color}}" id='bac-value'>{{data.bac}}</div>
                        <md-button md-no-ink class="md-primary" ng-click="learnMore($event)">Learn More</md-button>
                    </div>



                  <md-list ngCloak>
                        <md-list-item class="md-3-line md-long-text bac-input">
                            <div class="md-avatar mdi gender default"></div>
                            <div class="md-list-item-text">

                               <md-input-container class="md-block"  flex-gt-sm>
                                    <label>Gender</label>
                                    <md-select ng-model="data.gender" ng-change="updateGender()">
                                      <md-option ng-repeat="gender in gender_options" value="{{gender.slug}}">
                                        {{gender.text}}
                                      </md-option>
                                    </md-select>
                              </md-input-container>
                            </div>
                        </md-list-item>

                        <md-divider></md-divider>

                        <md-list-item class="md-3-line md-long-text bac-input">
                            <div class="md-avatar mdi weight scale default"></div>
                            <div class="md-list-item-text">
                                <label>Weight: {{data.weight}} lbs.</label>
                                <md-slider flex ng-model="data.weight" ng-change="updateWeight()" min="50" max="300" aria-label="weight" id="weight-slider" class="md-accent">
                            </div>
                        </md-list-item>

                         <md-divider></md-divider>

                        <md-list-item class="md-3-line md-long-text bac-input">
                            <div class="md-avatar mdi drinks beer default"></div>
                            <div class="md-list-item-text">
                                <label>Standard Drinks: {{data.std_drinks}} drinks</label>
                                <md-slider flex ng-model="data.std_drinks" ng-change="updateDrinks()" min="0" max="20" aria-label="standard drinks" id="drinks-slider" class="md-accent">
                            </div>
                        </md-list-item>
                         <md-divider></md-divider>

                        <md-list-item class="md-3-line md-long-text bac-input">
                            <div class="md-avatar mdi duration default"></div>
                            <div class="md-list-item-text">
                                <label>Drinking Duration: {{data.duration}} hours</label>
                                <md-slider flex ng-model="data.duration" ng-change="updateDuration()" min="0" max="12" aria-label="duration of drinks" id="duration-slider" class="md-accent">
                            </div>
                        </md-list-item>
                         <md-divider></md-divider>


                        <md-list-item class="md-3-line md-long-text bac-input">
                            <div class="md-avatar mdi food default"></div>
                            <div class="md-list-item-text">

                               <md-input-container class="md-block" flex-gt-sm>
                                    <label>Food Influence</label>
                                    <md-select ng-model="data.food" ng-change="updateFood()">
                                      <md-option ng-repeat="food in food_options" value="{{food.slug}}">
                                        {{food.text}}
                                      </md-option>
                                    </md-select>
                              </md-input-container>
                            </div>
                        </md-list-item>
                    </md-list>




                </form>
                </md-content>
            </div>
        </div>
        <script src="/assets/scripts/main.js"></script>
    </body>
</html>