

#bac-value {
	color: red;
	font-size: 10vw;
	transition: color 200ms ease-out; 

	//Color Classes 
	&.default{
		color: $clr-blue-grey;
	}

	&.low{
		color: $clr-green;
	}

	&.good{
		color: $clr-light-green; 
	}

	&.okay{
		color: $clr-amber;
	}

	&.over{
		color: $clr-orange;
	}

	&.high{
		color: $clr-red;
	}

	&.dead{
		color: $clr-grey-900;
	}
}

.conclusion{
	transition: all 300ms ease-out; 
	text-align: center;
	min-height: 75px; 
	font-size: 80%;

	p{
		margin-top: 0; 
		margin-bottom: 0; 
		color: $clr-grey-500;
	}
}


input[type="number"] {
	text-align: center;
	padding-left: 10px;
}



/**
 * Primary Component that holds all of the input controls
 * 	-Built upon the Angular List
 */
.bac-input{
	margin: 0 !important; 

	.icon{

	}
	.content{

	}
}