

#bac-value {
	color: red;
	font-size: 10vw;

	//Color Classes 
	&.default{
		color: $clr-blue;
	}

	&.low{
		color: $clr-green-50;
	}

	&.good{
		color: $clr-green; 
	}

	&.okay{
		color: $clr-orange;
	}

	&.over{
		color: $clr-green-50;
	}

	&.high{
		color: $clr-green-50;
	}

	&.dead{
		color: $clr-green-50;
	}
}


input[type="number"] {
	text-align: center;
	padding-left: 10px;
}



/**
 * Primary Component that holds all of the input controls
 * 	-Built upon the Angular List
 */
.bac-input{
	margin: 0 !important; 

	.icon{

	}
	.content{

	}
}